.fondoindex {
    background: url(../img/imagenesnuevas/fondo1.png) top right no-repeat;
    background-size: 100%;
}

.fondodetalle {
    background: url(../img/imagenesnuevas/fondodetalle.png) top center no-repeat;
    background-size: 1672px
}

.fondoaloevera {
    background: url(../img/imagenesnuevas/Fondoaloevera.png) top center no-repeat;
    background-size: 1744px
}

.fondogaleria {
    background: url(../img/imagenesnuevas/fondogaleria.png) top center no-repeat;
    background-size: 2044px
}

.textoblanco {
    color: #ffffff !important;
}

#textochico {
    font-size: 18px;
    font-weight: normal;
    width: 48%;
    margin-right: auto;
    margin-left: auto;
}

#descrpcioncurso {
    background: url(../img/imagenesnuevas/fondoseccioncurso.png) center right no-repeat;
    background-size: 100%;

}

#textocontenedor {
color: #ffffff;
font-weight: bold;
line-height: 48px;

} 
 
#fotonosotros1 {
    margin-left: -110px;
    margin-top: -110px;
}

.h1nuevo {
    font-size: 45px !important;
    font-weight: bold;

}

.h2nuevo {
    font-weight: normal !important;
    font-size: 30px !important;
}

.texto-gris {
    color: #444444 !important; 
}

.texto-naranja {
    color: #EFAB2B !important; 
}

.texto-verde {
    color: #154902 !important;
}

.fondo-naranja {
    background-color: #EFAB2B !important; 
}
.fondo-verde {
    background-color: #479e1e81;
}

.fondo-verde-oscuro {
    background-color: #154902;
}


.borde-naranja {
    border-color: #EFAB2B !important; 
}

.pillblanca {
    background: #ffffff26 !important; 
    color: #ffffff !important;
}

#espaciodescripcion {
    padding-left: 80px;
}

.borderedondos {
    border-radius: 40px 40px 0px 0px !important;
}

#descanso {
    width: 100%;
    height: 627px;
    background-image: url("./../img/imagenesnuevas/descanso1.png");
    background-size: contain ;
    background-position: center center;
    background-repeat: no-repeat;
    
}

#aloevera {
    background-image: url("./../img/imagenesnuevas/aloeverafondo.png");
    background-size: 250px;
    background-repeat: no-repeat;
    background-position-x: right;
}

#descanso2 {
    width: 100%;
    height: 414px;
    background-image: url("./../img/imagenesnuevas/descanso2.png");
    background-size: contain;
}

.destacado {
    font-weight: bold;
}

#faq {
    background-color: #154902;
}

.borde1 {
    border-radius: 20px 130px 0px 0px !important;
}

.borde2 {
    border-radius: 130px 20px 0px 0px !important;
}

.borde3 {
    border-radius: 0px 0px 130px 20px !important;
}

.borde4 {
    border-radius: 0px 0px 20px 130px !important;
}

.footer-newsletter {
    background-image: url("./../img/imagenesnuevas/newsletter.png"); 
    background-size: contain;
}

footer {
    background-image: url("./../img/imagenesnuevas/hojafooter.png"); 
    background-size: 240px;
    background-repeat: no-repeat;
    background-position: right bottom;
   
}


.copyright{
    background-image: url("./../img/imagenesnuevas/frutillafooter.png"); 
    background-size: 93px;
    background-repeat: no-repeat;
    background-position: -20px bottom;
   
}


.pillcolor {
    background: #17450710 !important; 
    color: #539F1F !important;

}

.contacto1 {
    border-radius: 20px 80px 0px 0px !important;
}

.contacto2 {
    border-radius: 80px 20px 0px 0px !important;
}

.contacto3 {
    border-radius: 0px 0px 80px 20px !important;
}

.contacto4 {
    border-radius: 0px 0px 20px 80px !important;
}

.contenedorprincipal {
    background-color: #EFEFEF;
    border-radius: 20px;
    color: #444444 

}

.titulodetalle {
    font-size: 65px !important;
}

.beneficios h4 {
    font-size: 20px;
    font-weight: bold;

}

.beneficios p {
font-size: 15px;
color: #444444
}

.verdefooter {
    color: #539F1F;
}

.teamcontenedor {
    margin-right: 50px;
    padding-left: 50px;
    border-radius: 0 70px 0 0;
}

.swiper-slide-next .testimonial-item {
    border-radius: 50px;
    background-color: rgb(71, 158, 30, 40%);
}

.macetasflotando {
    position: absolute;
    top: -28%;
    left: -14%;
}

.listadocontacto {
    list-style: none;
    padding: 0;
}

.listadocontacto li span {
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    display: block;
}

.titulocursoitem {
    font-size: 25px;
    color: #154902;
    font-weight: bold;
}


.seccionnosotros {
    border-radius: 0 170px 0 170px;
}